<div id="userPage">
  <div id="userHeader">
    <image id="userHeaderImage" src="http://webmasterbank.files.wordpress.com/2012/02/bg-header-index.jpg">
    <div id="userTabWrap">
      <image id="userAvatar" src="http://rs794.pbsrc.com/albums/yy228/jade95_2010/PHOTOGRAPHY-VARIED/cat-face.jpg~c200">
      <h3 id="userName"><%= @user.name %></h3>
      <div id="userTabs">
      </div>
    </div>
  </div>
  <div id="userContent">
    <div id="userInfo">
    </div>
    <div id="userPost">
      <% if current_user %>
        <%= render "common/newPostWrap", user: current_user, target: @user %>
      <% end %>
      <div id="posts" data-target-id="<%= @user.id %>">
      </div>
    </div>
  </div>
</div>