$newPostHeaderBackgroundColor: #f6f7f9;
$newPostHeaderHeight: 30px;
$newPostContentPadding: 10px;
$newPostCreatorAvatarWidth: 60px;
$newPostCreatorAvatarHeight: 60px;
$newPostFooterBackgroundColor: #f6f7f9;
$newPostFooterHeight: 30px;
$newPostFooterPadding: 5px;
$newPostSendButtonWidth: 70px;
#newPostWrap {
  #newPostHeader {
    background-color: $newPostHeaderBackgroundColor;
    height: $newPostHeaderHeight;
  }
  #newPostContent {
    position: relative;
    padding: $newPostContentPadding;
    #newPostCreatorAvatar {
      position: absolute;
      left: $newPostContentPadding;
      top: $newPostContentPadding;
      width: $newPostCreatorAvatarWidth;
      height: $newPostCreatorAvatarHeight;
    }
    #newPostText {
      position: relative;
      left: $newPostContentPadding + $newPostCreatorAvatarWidth;
      width: calc(100% - #{$newPostContentPadding} - #{$newPostCreatorAvatarWidth});
      min-height: $newPostCreatorAvatarHeight;
      resize: none;
      overflow: hidden;
      //border: none;
      &:focus {
        outline: none;
      }
    }
  }
  #newPostFooter {
    background-color: $newPostFooterBackgroundColor;
    height: $newPostFooterHeight;
    padding: $newPostFooterPadding;
    #newPostSendButton {
      position: absolute;
      width: $newPostSendButtonWidth;
      height: $newPostFooterHeight - 2 * $newPostFooterPadding;
      right: $newPostFooterPadding;
    }
  }
}