$userPageWidth: 80%;
$userTabWrapHeight: 40px;
$userAvatarWidth: 160px;
$userAvatarHeight: 160px;
$userAvatarShadowWidth: 2px;
$userAvatarOffsetLeft: 10px;
$userAvatarOffsetBottom: 10px;
$userNameHeight: 40px;
$userNameOffsetLeft: 10px;
$userNameOffsetBottom: 10px;
$userInfoWidth: 30%;
#userPage {
  width: $userPageWidth;
  margin-left: (100% - $userPageWidth) / 2;
  #userHeader {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    #userHeaderImage {
      width: 100%;
    }
    #userTabWrap {
      position: relative;
      height: $userTabWrapHeight;
      background-color: #fff;
      #userAvatar {
        position: absolute;
        bottom: $userAvatarShadowWidth + $userAvatarOffsetBottom;
        left: $userAvatarShadowWidth + $userAvatarOffsetLeft;
        width: $userAvatarWidth;
        height: $userAvatarHeight;
        border-style: solid;
        border-width: 5px;
        border-color: white;
        box-shadow: 0 0 0 $userAvatarShadowWidth rgba(0, 0, 0, .3);
      }
      #userName {
        position: absolute;
        top: -$userNameHeight - $userNameOffsetBottom;
        left: $userAvatarOffsetLeft + $userAvatarWidth + 2 * $userAvatarShadowWidth + $userNameOffsetLeft;
        height: $userNameHeight;
        color: #fff;
      }
      #userTabs {
        position: absolute;
        left: $userAvatarOffsetLeft + $userAvatarWidth + 2 * $userAvatarShadowWidth + $userNameOffsetLeft;
        height: $userTabWrapHeight;
      }
    }
  }
  #userContent {
    position: relative;
    #userInfo {
      position: absolute;
      width: $userInfoWidth;
    }
    #userPost {
      position: absolute;
      left: $userInfoWidth;
      width: 100% - $userInfoWidth;
    }
  }
}