<div id="newPostWrap" class="pageContentBox">
  <div id="newPostHeader">
  </div>
  <div id="newPostContent">
    <image id="newPostCreatorAvatar" src="https://www-01.ibm.com/software/sg/analytics/images/brandpages/icon-bi60x60.jpg">
    <textarea id="newPostText"></textarea>
  </div>
  <div id="newPostFooter">
  </div>
</div>