<div class="media">
  <div class="media-left media-middle">
    <%= link_to "/#{@user.id}" do %>
      <strong class="media-object"><%= @user.name %></strong>
    <% end %>
  </div>
  <div class="media-body">
    <h4 class="media-heading"><%= post.title %></h4>
    <p><%= post.description %></p>
  </div>
</div>